node_modules
npm-debug.log
.git
.gitignore
.DS_Store
.env.local
.env.*.local
*.md
*.log
.history
.grunt
.vscode
.VSCode
.idea
*.swp
*.swo
Thumbs.db
.eslintrc
.gherkin-lintrc
.jshintignore
.jshintrc
.stylelintrc
.nvmrc
.shifter.json
.phpstorm.meta.php
tests_scripts
phpunit.xml.dist
phpcs.xml.dist
Gruntfile.js
npm-shrinkwrap.json
CONTRIBUTING.md
README.md
UPGRADING.md
composer.lock
